.place__image {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    min-width: 340px;
    max-height: 340px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    min-width: 320px;
    min-height: 320px;
    margin: 0 auto;
  }
}
