.place__image {
  min-width: 460px;
  min-height: 460px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .place__image {
    min-width: 440px;
    min-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    min-width: 320px;
    min-height: 320px;
  }
}