.footer__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.4s ease;
}

@media (any-hover: hover) {
  .footer__nav-link:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 425px) {
  .footer__nav-link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
