.lead__title {
  max-width: 720px;
  margin: 0;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 72px;
    line-height: 80px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .lead__title {
    font-size: 54px;
    line-height: 60px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
