.lead__subtitle {
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 32px;
  padding-bottom: 64px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}


@media screen and (max-width: 767px) {
  .lead__subtitle {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
