.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover/baikal-on-suburb-train.png);
  background-size: cover;
  position: relative;
  z-index: 0;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
}