.cover {
  width: calc(100% - 96px);
  height: 57.8125%;
  background-image: url(../../images/cover/cover-trains.jpg);
  background-color: rgba(42, 44, 47, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 62.5%;
  }
}
