.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  transition: opacity 0.4s ease;
}

@media (any-hover: hover) {
  .place__link:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 425px) {
  .place__link {
    padding: 10px 16px 0;
  }
}
