@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

div {
  border: 1px solid palevioletred;
}

header {
  border: 1px solid palevioletred;
}

footer {
  border: 1px solid palevioletred;
}

.page {
  background-color: #2a2c2f;
  max-width: 1184px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 52px;
  padding-top: 28px;
}

.header__logo {
  min-width: 176px;
  width: 100%;
  background-image: url(../images/header__logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  padding-left: 18px;
  align-self: flex-end;
}

.header__lang-link:hover {
  text-decoration: underline;
}

/*------------- LEAD -----------*/

.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 32px;
  margin: 0 auto;
}

.lead__image {
  padding-top: 64px;
  width: 100%;
  max-height: 615px;
  border: none;
}

.lead__caption {
  margin: 0;
  padding-top: 8px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 400;
}

/*----------- INTRO ---------*/

.intro {
  max-width: 984px;
  padding: 92px 0;
  margin: 0 auto;
}

.intro__title {
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
  margin: 0;
  max-width: 690px;
}

.intro__text {
  line-height: 163%;
  font-size: 16px;
  font-weight: 400;
  padding-top: 40px;
  margin: 0;
  max-height: 208px;
  max-width: 690px;
}

.intro__list {
  margin: 0;
  padding: 33px 0 0 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  max-height: 90px;
  max-width: 690px;
}
