.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .cover__title {
    font-size: 54px;
    line-height: 60px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: calc(100% - 32px);
  }
}
