.place{
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
