.place{
  display: grid;
  grid-template-columns: minmax(460px, min-content) 1fr;
  grid-template-rows: 1fr minmax(460px, min-content);
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}
