.footer {
  width: calc(100% - 96px);
  min-height: 18px;
  padding: 92px 0 24px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
    padding: 88px 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}
