.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
  padding-bottom: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
