.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAA;
  margin: 0;
  padding-bottom: 12px;
}

@media screen and (width: 320px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
